* {
    font-family: 'Montserrat', sans-serif;
}

h1 {
    font-size: 2.5rem;
    font-weight: 700;
    @apply py-3;
}

p {
    font-size: 1.15rem;
}

.statement {
    font-size: 1.25rem;
}

h1, h2, h3, h4, h5 {
    @apply text-gray-300;
}

p, span {
    @apply text-gray-300;
}

a {
    @apply text-gray-300 hover:text-white;
}

.nuxt-link-exact-active {
    color: $brandThree-900;
}